 body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #444444;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
}

.block {
    margin-bottom: 20px;
}

select {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: royalblue;
}

h1 {
    margin-top: 80px;
}